body {
    background-color: rgb(93, 92, 92);
    display: flex;
}

#leftMain {
    width: 70%;
    padding-right: 5px;
    border: 3px solid purple;
    display: block;
}

#leftMain > #upperLeft {
    padding-bottom: 5px;
}

#leftMain > #bottomLeft {
    padding-top: 5px;
}

#rightMain {
    width: 30%;
    padding-left: 5px;
    border: 3px solid lime;
    display: flex;
}

#header {
    border: 3px solid red;
    background-color: white;
    border-radius: 10px;
    display: flex;
    padding: 1%;
}

#header > p + p {
    margin-left: 2%;
}

#mainBody {
    border: 3px solid blue;
    background-color: white;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
}

#taskBar {
    border: 3px solid green;
    background-color: white;
    border-radius: 10px;
    padding: 1%;
    width: 100%;
}

#taskBarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#taskBarHeader > #addTaskButton {
    border-radius: 10px;
    padding: 1em;
    background-color: rgb(50, 115, 255);
    color: white;
}

#taskBarHeader > #addTaskButton:disabled {
    background-color: rgba(50, 115, 255, 0.295);
    color: rgb(92, 92, 92);
    pointer-events: none;
}

#taskBarHeader > #addTaskButton:hover {
    cursor: pointer;
    background-color: rgb(39, 93, 209);
    transition: 0.1s;
}

#addTask {
    text-align: center;
}

#itemInformation {
    border: 3px solid pink;
}

#itemInformation > label{
    display: block;
}

#itemTypeSelection {
    text-align: center;
    border: 3px solid orange;
}

.hidden {
    display: none;
}

.calendarCell {
    width: 5em;
    height: 5em;
    border: 1px solid #ccc;
    position: relative;
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
}

.calendarCell:hover {
    background-color: #ccc;
    cursor: pointer;
    transition: 0.1s;
}

.calendarCellActive {
    background-color: rgb(50, 115, 255);
}
